<nav>
	<a class="nav-toggle" id="open-nav" href="#">&#9776;</a>
	<a id="myBtn" class="media-highlight">Features</a>
	<div id="myModal" class="modal">
		<div class="modal-content">
			<span class="close">&times;</span>
			<div class="videocontent">
				<video id="my-player" class="video-js vjs-default-skin vjs-big-play-centered vjs-16-9" controls preload="metadata" data-setup="{}">
					<source src="//vjs.zencdn.net/v/oceans.mp4" type="video/mp4"></source>
				</video>
			</div>
		</div>
	</div>
<script>
	var modal = document.getElementById('myModal');
	var btn = document.getElementById("myBtn");
	var span = document.getElementsByClassName("close")[0];
	btn.onclick = function() {
		modal.style.display = "block";
	}
	span.onclick = function() {
		modal.style.display = "none";
		var vid = document.getElementById("my-player");
		vid.pause();
	}
	window.onclick = function(event) {
		if (event.target == modal) {
			modal.style.display = "none";
			var vid = document.getElementById("my-player");
			vid.pause();
		}
	}
</script>

	{% for link in site.data.navigation %}
		{% assign class = "" %}
		{% if link.highlight %}
			{% assign class = class | append: " highlight" %}
		{% endif %}
		{% if link.media-highlight %}
			{% assign class = class | append: " media-highlight" %}
		{% endif %}
		{% if link.link == page.url %}
			{% assign class = class | append: " active" %}
		{% endif %}
		<a href="{% include relative-src.html src=link.link %}" class="{{ class }}" {% if link.new_window %}target="_blank"{% endif %}>{{ link.name }}</a>
	{% endfor %}
</nav>
